	<!-- Header y head-->
	

	<%- include("./partials/header") %>

	<!-- /Headery head -->



	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<br>
				<form action="/" method="get">
					<label for="email">Usuario</label>
					<input type="email" name="email" required>
					<label for="contraseña">Contraseña</label>
					<input type="password" name="contraseña" required>
					<label for="recordarme">Recordarme</label>
					<input type="checkbox" name="recordar" required>
					<button type="submit">Enviar</button>
				</form><br>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>