	<!-- Header y head-->
	

	<%- include("./partials/headerLogueado") %>

	<!-- /Headery head -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> 
				
				<div class="contenedorForms">
				<form action="/agregar" method="get">
					<label for="imagen">Imagen</label>
					<input type="file" name="foto" required>
					<label for="producto"> Nombre del producto</label>
					<input type="text" name="producto" required>
					<label for="descripcion">Descripción</label>
					<input type="text" name="descripcion" required>
					<button type="submit">Enviar</button>

				</form><br>
				</div>
			</h2>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>