	<!-- Header y head-->
	

	<%- include("./partials/headerLogueado") %>

	<!-- /Headery head -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> 
				<br>

				<form action="/" method="get">
					<label for="imagen">Imagen</label>
					<input type="file" name="foto" required>
					<label for="producto"> Nombre del producto</label>
					<input type="text" name="producto" required>
					<label for="descripcion">Descripcion</label>
					<input type="text" name="descripcion" required>
					<button type="submit">Enviar</button>

				</form><br>
				
			</h2>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>