	<!-- Header y head-->
	

	<% if (locals.userLoggeado != undefined) { %>
		
		<%- include("./partials/headerLogueado") %>
	<% } else {%>
		<%- include("./partials/header") %>
		<% }%>

	<!-- /Headery head -->
	
<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> 
				
				<div class="contenedorForms">
					<form action="/agregar" method="POST" enctype="">

					<label for="imagen">Nombre del archivo de imagen</label>
					<input type="file" name="imagen" required>
					<label for="nombre"> Nombre del producto</label>
					<input type="text" name="nombre" required>
					<label for="descripcion">Descripción</label>
					<input type="text" name="descripcion" required>
					<button type="submit">Enviar</button>

				</form><br>
				</div>
			</h2>
			
	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>