	<!-- Header y head-->
	

	<%- include("./partials/header") %>

	<!-- /Headery head -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> <br> 
				<div class="contenedorForms">
				<form action="/login" method="get">
					<label for="email">Email</label>
					<input type="email" name="email" required>
					<label for="usuario">Usuario</label>
					<input type="text" name="usario" required>
					<label for="contraseña">Contraseña</label>
					<input type="password" name="contraseña" required>
					<label for="fecha">Fecha de nacimiento</label>
					<input type="date" name="nacimiento" required>
					<label for="documento">Número de documento</label>
					<input type="number" name="dni" required>
					<label for="foto">Foto de perfil</label>
					<input type="text" name="foto" required>
					<button type="submit">Enviar</button>
				</form>
			</h2>
		</div>
		<!-- footer -->
		<%- include("./partials/footer") %>
		<!-- /footer -->
</body>

</html>