	<!-- Header y head-->
	

	<%- include("./partials/header") %>

	<!-- /Headery head -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> <br> 
				<div class="contenedorForms">
					<form action="/register" method="post">
						<label for="email">Email</label>
						<input type="email" name="email" required>
					
						<label for="usuario">Usuario</label>
						<input type="text" name="usuario" required>
					
						<label for="contraseña">Contraseña</label>
						<input type="password" name="contra" required>
					
						<label for="fecha">Fecha de nacimiento</label>
						<input type="date" name="nacimiento" required>
					
						<label for="documento">Número de documento</label>
						<input type="number" name="dni" required>
					
						<label for="foto">Foto de perfil</label>
						<input type="text" name="foto" required>
					
						<button type="submit">Enviar</button>
					</form>
					
			</h2>
		</div>
		<!-- footer -->
		<%- include("./partials/footer") %>
		<!-- /footer -->
</body>

</html>